
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
  }

  .home{
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100vw;
    height: 90vh;
  }
  .btn{
    font-size: 50px;
    padding: 20px;
    background-color: #cc5500;
    color: white;
    margin: 20px;
    border-radius: 10px;
   
  }
  .btn:hover{
    background-color: #2d1605;
  }


 
  